<!-- 顶部开始 -->
<header>
<nav>
   
</nav> 
</header>

<ul class="layui-nav layui-bg-cyan" lay-filter="">

       
        <li class="layui-nav-item">北京风清扬摄影器材有限公司</li>
        <li class="layui-nav-item"><a href="#"><i class="layui-icon layui-icon-home"> 首页</i></a></li>
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item layui-this"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">产品中心</a>
          <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">新闻中心</a>
          <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;">支持下载</a>
          <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">大客户案例</a>
          <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
          </dl>
        </li>
    
      
         <li class="layui-nav-item"><a href="">社区</a></li>
          <li class="layui-nav-item">
          <a href="">控制台<span class="layui-badge">9</span></a>
          </li>
          <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
          </li>
          <li class="layui-nav-item">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;">修改信息</a></dd>
              <dd><a href="javascript:;">安全管理</a></dd>
              <dd><a href="javascript:;">退了</a></dd>
            </dl>
          </li>
     


    
     
    
    
    
  
</ul>

<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;
  
  //…
});
</script>
<!-- 顶部结束 -->